<h1>Welcome to Pick-Up<%= ", #{current_player.name}" if current_player%>!</h1>

<div class="welcome">
    <div class="content-box">
        <h3>Today's Games</h3>
        <div>
            <% Game.upcoming_today.each do |game|%>
                <%= link_to "#{display_time(game.time)} at #{game.court_name}", court_game_path(game.court, game) %> 
                <%= "(#{game.player_count} players)" %>
                <%= player_admin_button(path: court_game_path(game.court, game), text: "Join Game", params_hash: {player_id: current_player.id}) if current_player && !game.is_in_game?(current_player) %> <br>
            <% end %>
        </div>
    </div>
</div>