<h1>Courts</h1>
<div class="courts-list">
    <% @courts.each do |court| %>
        <a class="content-box" href=<%= court_path(court)%>>
            <h3><%=court.name%></h3>
            <%= court.location %> <br>
            <%= court.upcoming_games.count.to_s + " upcoming games"%>
        </a>
    <% end %>
</div>