<% if current_player.is_admin_of?(game_or_squad) && !player.is_admin_of?(game_or_squad) %>
    <div style="float: left; width: auto;"> 
        <%=  player_admin_button(path: path, text: "Remove Player", params_hash: {player_id: player.id}) %>
    </div>
    <%=  player_admin_button(path: path, text: "Add Admin", params_hash: {admin_id: player.id}) %>
<% else %>
    <br>
<% end %>