<h1><%= @game.court.name %></h1>
<h3><%= @game.time %></h3>

<% @game.players.each do |player|%>
    <%= link_to player.name, player_path(player) %>
<% end %>

<%= form_for @game do |f| %>
  
<% end %>