<h1><%= @player.name %></h1>

<h3>Upcoming Games</h3>

<% @player.upcoming_games.each do |game|%>
    <div style="float: left; width: auto;">
        <%= link_to "#{game.court.name} on #{display_date_and_time(game.time)}", court_game_path(game.court, game) %> 
    </div> 
    <%= player_admin_button(path: court_game_path(game.court, game), text: "Leave Game", params_hash: {player_id: current_player.id}) if @player == current_player %>
    
<% end %>