/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .welcome {
    display: flex;
    justify-content: center;
}

.content-box{
    display: flex;

    flex-direction: column;
    width: 30vw;
    background-color: lightgray;
    border-radius: 10px; 
    box-shadow: 0px 5px 25px 0 gray;
}

 .content-box a{
    text-decoration: none;
    color: black;
    
}

.content-box h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 5px;
}

 body {
    font-family: sans-serif;
    margin-top: 80px;
    padding: 20px;
}

header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

header * {
    /*margin-left: 40px;*/
    display: inline;
}

header div {
    margin-left: 40px;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}