// Place all the styles related to the Courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.courts.index .courts-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.courts.index .content-box{
    text-decoration: none;
    max-width: 20%;
    margin: 1%;
    text-align: center;
    
}

.courts.show .court-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courts.show .court-info .favorite {
    text-align: center;
}

.courts.show .court-info .new-game{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.courts.show .court-info input[type="submit"]{
    padding: 5px  5px;
    background: orange; 
    border:0 none;
    border-radius: 5px; 
    min-width: 60px;
    margin: 5px;
}

.courts.show .court-info .favorite input[type="submit"]{
    padding: 5px  5px;
    background: orange; 
    border:0 none;
    border-radius: 5px; 
    min-width: 60px;
    margin: 5px;
}