// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-up fieldset ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.sign-up fieldset ul li {
    display: block;
    padding: 10px;
}