// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
    display: flex;
    justify-content: space-around;
}

.sign-up {
    /*max-width: 26.875em;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up a {
    text-decoration: none;
    padding:5px  15px;
    background:#3B5998; 
    border:0 none;
    border-radius: 5px; 
    color: white;
}

.sign-up form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sign-up form input{
    margin:5px;
}

.sign-up form input[type="submit"]{
    padding:5px  15px;
    background:#ccc; 
    border:0 none;
    border-radius: 5px; 
}