// Place all the styles related to the Squads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.squads.index .squads-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.squads.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .squads.show .content-box{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }



.new_squad {
    text-align: center;
}

.new_squad input[type="submit"]{
    padding: 2px  2px;
    background: orange; 
    border:0 none;
    border-radius: 5px;
}

.squads.index .content-box{
    text-decoration: none;
    max-width: 15%;
    margin: 1%;
    text-align: center;
}

.squads.show input[type="submit"]{
    padding: 5px  5px;
    background: orange; 
    border:0 none;
    border-radius: 5px; 
    min-width: 60px;
    margin: 5px;
}
